/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}



/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
body {
	background-color: rgb(211, 211, 211);
	color: rgb(0, 0, 0);
	font-family: sans-serif;
}

div.container {
    max-width: 75em;
    margin: auto;
    background-color: rgb(241, 239, 239)
}

figure {
    margin: 0em;
    display: grid;
    grid-template-columns: 5fr 1.5fr;
}



header {
    background-color:rgb(255,132, 0);
}

footer {
    background-color: rgb(255,132, 0);
    padding: 1.5em 1.5em 1.5em;
    font-family: 'Poppins', sans-serif;
    color: rgb(241, 239, 239);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

figcaption{
    text-align: right;
    left: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    color: rgb(0, 0, 0);
    margin: 1em 1em 0.5em;
    line-height: 160%;
    padding: 1.5em 1.5em 1.5em;
    display: grid;
    text-align: left;
    padding-top: 2em;
}

h1 {
	color: rgb(255, 255, 255);
	font-size: 2em;
	padding: 2.2em 1.5rem 0.3em;
    font-family: 'Sutro', serif;
    font-weight: 700;
    font-style: none;
    line-height: 120%;
}


h2 {
	color: rgb(245,222,179);
	font-size: 1.5em;
    font-family: 'Sutro', serif;
	font-weight: 300;
    font-style: none;
	padding: 0.1em 1em 0.9em;
}

h3 {
	margin: 2em 1.5em 1em; 
	padding-top: 1em;
	font-size: 1.2em;
    font-weight: 300;
    font-style: none;
	color: rgb(255,132, 0);
	text-transform: uppercase;
    font-family: 'Sutro', serif;
	letter-spacing: 0.1em;
    border-top: 3px solid rgb(255,132, 0);
}

p.ingredients {
    color: rgb(0, 0, 0);
}

p.directions {
	color: rgb(0, 0, 0);
}

ul {
    margin: 0.5em 1.5rem 0.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

ol {
	margin: 0.5em 1.5em 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 3em;
    
}

li { 
	margin: 0.5em 0.5em 0.5em;
    font-weight: 400;
    font-style: normal;
}